
BLL/bin/Debug/*
BLL/obj/Debug/*
BLL/bin/Release/*
DLL/bin/Release/*
DLL/bin/Debug/*
DLL/obj/Debug/*
packages/*
DIT/bin/*
DIT/obj/*
Models/bin/Debug/*
Models/obj/Debug/*

/.vs/DIT/config/applicationhost.config
/.vs/DIT/v16/.suo

*.dll
*.pdb
