@model KGID_Models.KGIDNBApplication.tbl_medical_declaration
<div class="container" id="divHDeclaration">
   
    <div class="row">
        @*<div class="knlan form-group col-12">
            @Html.CheckBoxFor(model => model.md_declaration_status, new { @id = "chkHDeclaration" })
            
        </div>*@
        <div class="form-group col-12">
            @Html.CheckBoxFor(model => model.md_declaration_status, new { @id = "chkHDeclaration" })
            <label class="Enlan">I do hereby declare that the proposal statements and those made by me to the Medical Officer are true to the best of knowledge and belief and that I have not with-held or concealed any circumstance with regard to which information has been required from me. I agree that the statements made by me shall be the basis of the proposed contract for any insurance of my life and that if it shall hereafter appear that I have wilfully made any untrue statements or have fraudulently concealed any circumstance which I ought to have made know, then all the premiums which shall have been paid under the said contract shall be forfeited, and the contract rendered absolutely.</label>
            <label class="knlan">ಪ್ರಸ್ತಾವನೆ ಹೇಳಿಕೆಗಳು ಮತ್ತು ನಾನು ವೈದ್ಯಕೀಯ ಅಧಿಕಾರಿಗೆ ನೀಡಿದ ಹೇಳಿಕೆಗಳು ಉತ್ತಮ ಜ್ಞಾನ ಮತ್ತು ನಂಬಿಕೆಗೆ ನಿಜವೆಂದು ನಾನು ಘೋಷಿಸುತ್ತೇನೆ ಮತ್ತು ನನ್ನಿಂದ ಯಾವ ಮಾಹಿತಿಯ ಅವಶ್ಯಕತೆಯಿದೆ ಎಂಬುದರ ಕುರಿತು ನಾನು ಯಾವುದೇ ಸಂದರ್ಭವನ್ನು ತಡೆಹಿಡಿದಿಲ್ಲ ಅಥವಾ ಮರೆಮಾಚಲಿಲ್ಲ. ನನ್ನ ಹೇಳಿಕೆಗಳು ನನ್ನ ಜೀವನದ ಯಾವುದೇ ವಿಮೆಗಾಗಿ ಪ್ರಸ್ತಾವಿತ ಆಂಟ್ರಾಕ್ಟ್ನ ಆಧಾರವಾಗಿರುತ್ತವೆ ಮತ್ತು ಇನ್ನು ಮುಂದೆ ನಾನು ಉದ್ದೇಶಪೂರ್ವಕವಾಗಿ ಯಾವುದೇ ಸುಳ್ಳು ಹೇಳಿಕೆಗಳನ್ನು ನೀಡಿದ್ದೇನೆ ಅಥವಾ ನಾನು ತಿಳಿಸಬೇಕಾದ ಯಾವುದೇ ಸಂದರ್ಭವನ್ನು ಸೂಕ್ಷ್ಮವಾಗಿ ಮರೆಮಾಡಿದ್ದೇನೆ ಎಂದು ನಾನು ಒಪ್ಪುತ್ತೇನೆ. , ನಂತರ ಹೇಳಿದ ಒಪ್ಪಂದದ ಅಡಿಯಲ್ಲಿ ಪಾವತಿಸಬೇಕಾದ ಎಲ್ಲಾ ಪ್ರೀಮಿಯಂಗಳನ್ನು ಮುಟ್ಟುಗೋಲು ಹಾಕಲಾಗುತ್ತದೆ ಮತ್ತು ಒಪ್ಪಂದವನ್ನು ಸಂಪೂರ್ಣವಾಗಿ ಪ್ರದರ್ಶಿಸಲಾಗುತ್ತದೆ.</label>
        </div>
    </div>
</div>
