@*<footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">© Copyright 2020 ® KGID - Government of Karnataka | Designed & Developed by <a href="https://www.karnataka.gov.in/csg/"> <b>Centre for Smart Governance.</b></a></span>
            </div>
        </div>
    </footer>*@


<style>
    .policies a {
        text-decoration: none;
        color: #fff
    }

    #page-container {
        position: relative;
      
    }

    #content-wrap {
       /* Footer height */
    }

    #footer {
        /*position:fixed;*/
        bottom: 0;
        width: 100%;
       /* Footer height */
    }
    .knlan{font-size:14px}
    .knlan a {
        font-size: 14px
    }
</style>

        <footer id="footer">




            @*<div class="container">*@
            @*<div class="row">*@
            <div class="col-lg-12" style="text-align:center;">
                <div class="container-footer policies">
                    <!-- Trigger the modal with a button -->

                    <a class="btn btn-sm style" id="btn-sm"><label class="knlan">ಜಾಲ ನಕ್ಷೆ</label><label class="Enlan">Sitemap</label></a>

                    <a class="btn btn-sm style" id="btn-sm" href="~/Home/Policies/#Copyright_Policy"><label class="knlan">ಹಕ್ಕು ಸ್ವಾಮ್ಯ ನೀತಿ</label><label class="Enlan">Copyright Policys</label></a>
                    <a class="btn btn-sm style" id="btn-sm" href="~/Home/Policies/#Privacy_Policy"><label class="knlan">ಖಾಸಗಿತನ ನೀತಿ</label><label class="Enlan">Privacy Policy</label></a>

                    <a class="btn btn-sm style" id="btn-sm" href="~/Home/Policies/#Hyperlinking_Policy"><label class="knlan">ಬಾಹ್ಯ ಜಾಲತಾಣ ಸಂಪರ್ಕ ನೀತಿ</label><label class="Enlan">Hyperlinking Policy</label></a>
                    <a class="btn btn-sm style" id="btn-sm" href="~/Home/Policies/#Security_policy">    <label class="knlan">ಭದ್ರತಾ ನೀತಿ</label><label class="Enlan">Security Policy</label></a>
                    <a class="btn btn-sm style" id="btn-sm" href="~/Home/Policies/#Terms_and_Condition"><label class="knlan">ನಿಯಮಗಳು ಮತ್ತು ಷರತ್ತುಗಳು</label><label class="Enlan">Terms and Conditions</label></a>
                    <a class="btn btn-sm style" id="btn-sm" href="~/Home/Policies/#Help"><label class="knlan">ಸಹಾಯ</label><label class="Enlan">Help</label></a>
                    <a class="btn btn-sm style" id="btn-sm" href="~/Home/Policies/#Screen_Reader_Access" target="_blank">  <label class="knlan">ಪರದೆ ವಾಚಕ</label><label class="Enlan">Screen Reader Access</label></a>












                </div>

            </div>



            <div class="copyright-reserved">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12" style="text-align:center;">
                            <label class="Enlan"> Content Owned and Maintained by:  Karnataka Government Insurance Department, Government of Karnataka</label> <label class="knlan">ವಿಷಯದ ಮಾಲೀಕತ್ವ ಮತ್ತು ನಿರ್ವಹಣೆ: ಕರ್ನಾಟಕ ಸರ್ಕಾರ ವಿಮಾ ಇಲಾಖೆ - ಕರ್ನಾಟಕ ಸರ್ಕಾರ </label>
                          <br />
                            <label class="Enlan">  Designed and Developed by: <a href="https://csg.karnataka.gov.in/" target="_blank" style="color:white" ;>  Center for Smart Governance </a> Government of Karnataka</label>
                            <br />
                            <label class="knlan">ವಿನ್ಯಾಸ ಮತ್ತು ಅಭಿವೃದ್ಧಿ:<a href="https://csg.karnataka.gov.in/" target="_blank" style="color:white; font-size:12px" ;> ಸೆಂಟರ್ ಫಾರ್ ಸ್ಮಾರ್ಟ್ ಗವರ್ನನ್ಸ್ </a>,ಕರ್ನಾಟಕ ಸರ್ಕಾರ </label>
                        </div>
                        </div>
                    </div>
                </div>
           
        </footer>
    