@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Session Timeout</title>
</head>
<body>
    <div>
        <strong style="font-size:16px;">Your session has expired. Please <a style = "text-decoration: underline; color: #0056b3;" href="/Login/Index">Login</a> to continue.</strong>
    </div>
</body>
</html>